NEXT_PUBLIC_SUPABASE_URL=https://uwhinxqsgwwvwnvdxqvp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3aGlueHFzZ3d3dndudmR4cXZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5NjA2MjEsImV4cCI6MjA4MTUzNjYyMX0.DOgoRHsEzKoAgS5V26k-EbS_f9Dl0wgTL-ezU2m0Md8



